

/*------ Cards Output CSS------*/
body{
    background: rgb(255,250,60);
    background: radial-gradient(circle, rgba(255,250,60,1) 20%, rgba(206,201,65,1) 41%, rgba(103,99,74,1) 77%, rgba(53,50,79,1) 91%, rgba(3,0,83,1) 99%);
    background-attachment: fixed;

}
.navbar-nav{
    margin: auto;
}
nav .navbar-nav li a{
    /* color: lightgrey; */
    font-size: 1.4rem
}
.active{
    color: white !important;
}
#searchBar{
    font-size: 1.3rem;
    box-shadow: 5px 10px 25px ;
    text-align: center;
    display: block;
    margin :auto;
    margin-top: 2%;
    
}


.notification-design{
    position: absolute;
    text-align: right;
    padding: 5px 20px;
    margin-left: 80%;
    width: auto;
    height: 30px;
    background-color: rgb(42, 255, 42);
    box-shadow: 3px 3px 10px rgb(131, 247, 131);
}

.fav-button{
    color: lightgrey;
    position: absolute;
    top:5%;
    left:3%;
    font-size: x-large;
    
}
#fav-button :hover{
    color: red;
}
#hero-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5% auto;
    
}
.detail-page{
    text-decoration: none;
    color: black;
}
.fav-filled{
    color: red;
}
.detail-page:hover {
    color: black;
}
.card{
    /* flex-grow: 1 0 41%; */
    margin: 18px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px 10px grey;
}

.hero-image{
    border-radius:20px;
    padding: 2px 7px;
    height: 250px;
    width: 220px;
}


/*------ END------*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {

    .navbar-nav{
        margin: auto;
    }
    nav .navbar-nav li a{
        /* color: lightgrey; */
        font-size: 1.4rem
    }
  }


/* ------END----- */